<ul class="nav navbar-nav pull-right locale-switcher">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button">
            {{ locales[app.request.locale].nativeLocale }}
        </a>
        <ul class="dropdown-menu">
            {% for code, names in locales if app.request.locale != code %}
                <li>
                    <a href="{{ path_locale(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': code})) }}" title="{{ names.currentLocale }}">
                        {{ names.nativeLocale }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>